<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <resultMap id="userMap" type="User">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="add">
        INSERT INTO tb_user VALUES(#{username}, #{id}, #{password});
    </insert>

    <update id="update">
        update tb_user set password = #{password} and username = #{username} where id = #{id};
    </update>

    <select id="selectByIdAndPassword" resultMap="userMap">
        select * from tb_user
        where id = #{id} and password = #{password};
    </select>

    <select id="selectById" resultType="com.pojo.User">
        select * from tb_user
        where id = #{id};
    </select>


</mapper>